:root {
  --primary-color: #5ce1e6;
  --text-color: rgba(0, 0, 0, 0.75);
  --header-font: 'Noto Serif', serif;
  font-size: 16px;
}

/*NAVBAR SECTION*/

.navbar {
  background: linear-gradient(var(--primary-color) 65%, #fff);
  font-size: 1.5rem;
}

.header-img {
  display: block;
  margin: 0 auto;
  width: max(375px, 50%);
}

/* SERVICING AREAS SECTION*/

.service-areas-header h2 {
  font-size: clamp(2rem, 3vw, 4rem);
  font-family: var(--header-font);
  padding-bottom: 0.5em;
}

.service-areas,
.cleaning-services {
  background: linear-gradient(#fff 5%, var(--primary-color) 10% 95%, #fff);
  text-align: center;
  font-size: clamp(1.25rem, 1.75vw, 4rem);
  padding-top: 2em;
  padding-bottom: 1em;
}

.service-areas ul li,
.cleaning-services ul li,
.contact ul li {
  list-style-type: none;
  color: var(--text-color);
}

/*GALLERY SECTION*/

.gallery-header h2 {
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-family: var(--header-font);
  margin: 1em 0;
}

#carousel-container {
  margin: auto;
  width: max(375px,60%);
}

.carousel-inner img {
  margin: auto;
  width: 60%;
}

/*SERVICES INCLUDED SECTION*/

.services-header h2 {
  text-align: center;
  font-size: clamp(2rem, 3vw, 4rem);
  font-family: var(--header-font);
  margin: 1em 0;
}

.services-list {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-style: italic;
  text-decoration: underline;
}

/*CONTACT SECTION*/

.contact {
  margin: 1em 0;
}

.contact h2 {
  text-align: center;
  font-size: clamp(2rem, 3vw, 4rem);
  font-family: var(--header-font);
  margin: 1em 0;
}

.contact ul {
  list-style: none;
  font-size: clamp(1rem, 1.5vw, 3rem);
}

.contact ul li {
  padding: 1em 0;
}

.contact ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.icon {
  width: min(100px, 15%);
  padding-right: 1em;
  filter: invert(79%) sepia(54%) saturate(453%) hue-rotate(129deg)
    brightness(96%) contrast(88%);
}

.facebook:hover{
    color: var(--primary-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 5px;
}

form button {
  width: 5rem;
  height: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  margin-bottom: 1rem;
}

form button:hover {
  cursor: pointer;
  background-color: #000;
  color: rgba(255, 255, 255, 1);
  border: 0px;
}

input {
  width: 30%;
  height: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid #000;
  margin: 1rem 0;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.7)
}

textarea {
  width: 30%;
  min-height: 7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  resize: none;
  margin: 1rem 0;
}

textarea::placeholder{
    color: rgba(0, 0, 0, 0.7);
}

input:focus, textarea:focus {
  outline: none;
}


/*TEXT ANIMATION*/

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-35%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
